@import '../../../styles/settings.scss';
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  left: -100% !important;
}
.navbar {
  .navbar-brand {
    font-family: $font-header;
    font-size: 1.5rem;
  }
  transition: all 0.5s;
}
